{
    "revolut": {
        "phoneNumber": "",
        "password": ""
    },
    "swedbank": {
        "userId": "",
        "socialSecurityId": ""
    },
    "ynab": {
        "apiKey": "",
        "budgetId": "",
        "accountIds": {
            "revolut": "",
            "swedbank": ""
        }
    }
}
